body {
    background-color: bisque;
}
.top {
    background-color: white;
    margin: 1.3rem 20rem 1.3rem 20rem;
    -webkit-box-shadow: 4px 3px 14px -3px rgba(0,0,0,0.12); 
    box-shadow: 4px 3px 14px -3px rgba(0,0,0,0.12);
    border-radius: 10px;
    text-align: center;
}
.top img {
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    border: 5px solid #c5c5c5;
    margin-top: 20px;
    height: 150px;
    width: 150px;
}
.top h1 {
    color: #dd5555;
}
.top button {
    background-color: rgb(230, 73, 73);
    border-style: none;
    margin-bottom: 20px;
    height: 45px;
    width: 150px;
    color: white;
    border-radius: 5px 5px 5px 5px;
}


.middle {
    background-color: white;
    margin: 25px 310px 30px 310px;
    text-align: center;
    -webkit-box-shadow: 4px 3px 14px -3px rgba(0,0,0,0.12); 
    box-shadow: 4px 3px 14px -3px rgba(0,0,0,0.12);
    border-radius: 10px;
}
.middle ul {

    display: flex;
    justify-content: center;
    cursor: pointer;

}
.middle li {
    list-style-type: none;
    margin: 30px 50px 30px 50px;
    font-size: larger;
    
}
.middle a {
    text-decoration: none;
}



.down {

    background-color: white;
    margin: 25px 300px 30px 300px;
    -webkit-box-shadow: 4px 3px 14px -3px rgba(0,0,0,0.12); 
    box-shadow: 4px 3px 14px -3px rgba(0,0,0,0.12);
    border-radius: 10px;

}
.down h1,h2 {
    text-align: center;
    margin-top: 30px;
}
.down h2 {
    text-align: center;

}
.down p {


}
.down img {
    height: 200px;
    width: 150px;
    margin: 0px 20px 0px 30px ;
}